.site-logo{
    margin-left: 20px;
    height: 40px;
}
.nav_links{
    margin-right: 30px;
}
.nav-item{
    margin-left: 20px;
}
.btn-login{
    padding: 10px 20px;
    color: white;
    background-color: #E51A4B;
    border-radius: 50px;

}
.site-notice{
    text-align: center;
    color: red;
}
.navbar{
    box-shadow: 0px 2px 2px #0000003a;
}